
#stdToken,#scopedToken {
  display:none;
}

.checkboxFile,.checkboxFolder {
  display:none;
}
.folderChooser,.fileChooser {
  height:600px;
}
.custom-control-label {
  width:150px;
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover
{
    background-color: "#3278cf" !important;
    border-color: "#3278cf" !important;
}
.loader {
	display:none;
}
li {
  font-size:8px !important;
}
#events {
  border: 1px solid black;
  height: 300px;
  width: 850px;
  overflow: hidden;
  font-size:8px;
}
.ms-container {
  width:500px !important;
}