
.la {
    text-align:left !important;
} 
.section {
    border: 1px solid #007bff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transfer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
select {
    width: 200px;
    height: 200px;
    
}
option,input,select,.form-label {
    font-family: "Lato, Helvetica, Arial, sans-serif" !important;
    font-size:13px !important;
}
.button-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.normal {
    height:auto !important;
}


.header {
    background-color: #0061D5; /* Box.com blue color */
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .left, .header .center, .header .right {
    display: flex;
    align-items: center;
}
.header a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.header a:hover {
    text-decoration: underline;
}
.header i {
    margin-right: 8px; /* Space between icon and text */
}
.header .center a.active {
    font-weight: bold;
    text-decoration: underline;
}
.la {
    text-align:left !important;
} 
.section {
    border: 1px solid #007bff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transfer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
select {
    width: 200px;
    height: 200px;
    
}
option {
    font-family: "Lato, Helvetica, Arial, sans-serif";
    font-size:13px;
}
.button-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.la {
    text-align:left !important;
} 
.section {
    border: 1px solid #007bff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transfer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
select {
    width: 200px;
    height: 200px;
    
}
option {
    font-family: "Lato, Helvetica, Arial, sans-serif";
    font-size:13px;
}
.button-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.dynamic-input {
    margin-top: 20px;
    text-align:left !important
}

#results {
    padding: 10px;
  }
  
  #results h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  #results ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
  }

  .bcp-footer {
    display:none !important;
}
.info-icon {
    display: inline-block;
    font-size: 1.2em;
    color: #007bff;
    background-color: #007bff;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
}

/* Style for the modal box */
.modal-box {
    position: absolute;
    top: 25px; /* Adjust based on the icon's size */
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

/* Modal content */
.modal-content {
    font-size: 0.9em;
    color: #333;
}

/* Close button */
.close-modal {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
}
.close-modal:hover {
    background-color: #0056b3;
}

.normalHeight {
    height:auto !important
}