.folderChooser {
  height:400px;
}

.custom-control-label {
  width:150px;
}
#webhookPayload {
  height:500px;
}
#events {
  font-size: 10px;
}
.wloader,.eloader {
  display:none;
}
.custom-control-input {
	padding:5px 5px 5px 5px;
}